### Import Data and libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Import data
kyphosis_df = pd.read_csv('../datasets/kyphosis/kyphosis.csv')

In [4]:
kyphosis_df.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [5]:
kyphosis_df.tail()

   Kyphosis  Age  Number  Start
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

In [6]:
kyphosis_df.shape

(81, 4)

### Ex